
<!DOCTYPE html>
{%load static%}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>F-Society</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'fsociety/style.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <a href="{%url 'home'%}"><logo>F-society</logo></a>
      
      <a href="{%url 'home'%}">Home</a>
      <a target="blank" href="https://github.com/n1rjal/Fsociety-SpaceApp#meta">Meta</a>
      <a target="blank" href="https://covid19.spaceappschallenge.org/challenges/covid-challenges/food-thought/teams/fsociety/project">Project Panel</a>
      <a href="{%url 'home'%}" translate="yes">Nepali</a>
    </nav>
    {%block content%}
    {%endblock%}
    <script src="{%static 'fsociety/index.js'%}" async defer></script>
  </body>
</html>
