{%extends 'fsociety/base.html'%}
{%block content%}

<div class="name">
    <div class="nameee">
      <logo>F-society</logo>
      <p> WE WILL PREDICT WHAT YOU SHOULD CULTIVATE/FARM NEXT</p>
      <logo id="member-name">Thinam Tamang</logo>
     </div>
  </div>
  <div class="docs">
  </div>
<div class="container">
    <form method="GET" action="{%url 'reqitem'%}">
      <fieldset>
        <span>
          <logo>ASK F-SOCIETY</logo>
        </span>
        <br>
        <label for="name">Name </label><br>
        <input type="text" name="name" placeholder="Enter your name here" required><br>
        {%csrf_token%}<br>
        <label for="date">When will you put the crops</label><br>
        <input type="date" name="date-to-predict" required><br>
        <label for="place">Select your Place</label><br>
        <select name="place" for="place" required><br>
          <option value="Kathmandu">Kathmandu</option>
        </select><br>
        <input type="submit" title="Submits the form">
    </fieldset>
    </form>
  </div>


{%endblock%}