{%extends 'fsociety/base.html'%}

{%block content%}
<div class="main-contain">
    <div class="request-contain">
        <table>
            <tr>
                <td>Your Data</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{name}}</td>
            </tr>
            <tr>
                <td>Place</td>
                <td>{{place}}</td>
            </tr>    
            <tr>
                <th>PREDICTION</th>
            </tr>
            <tr>
                <td>Prediction Date</td>
                <td>{{date}}</td>
            </tr>
            <tr>
                <td>Temperature</td>
                <td>{{predictedtempmsg}}</td>
            </tr>
            <tr>
                <td>Precipitation</td>
                <td>{{predictedprepmsg}}</td>
            </tr>
        </table>
    </div>
</div>
{%if cropsinfo%}
<div class="searchresults">
    <logo>Prediction Results:</logo>
    <div class="result">
        
        {%for crop in cropsinfo%}


        <h2 style="text-transform: uppercase;">{{crop.name}}:</h2>
        <p>
            <span class="smallspan">
                Conditions required : 
                Maximum Temperature : {{crop.maxtemp}}C Minimum Temperature : {{crop.mintemp}}C
                Maximum Precipitation : {{crop.maxppt}}mm per month Minimum Precipitation : {{crop.minppt}}mm per month            
            </span><br>
            <br>    
        </p>
        <p>
            <p>
                <img src="{{crop.photo_url}}" height=200 width=200>
            </p>
        </p>
        <br>
        {%if crop.wikipedia%}
        <p class="searchbody">
            {{crop.wikipedia}}
        </p>
        {%else%}
        No suitable wikipedia data
        {%endif%}
        <span class="linkcollection">
            <a id="searchlink" target="blank" href="https://www.google.com/search?q=nutrient+in+{{crop.name}}">Nutrients in {{crop.name}} here</a>
            <a id="searchlink" target="blank" href="https://www.google.com/search?q=how+to+plant+{{crop.name}}">Plant {{crop.name}} here</a>
            {%if crop.wikipedia%}
        
            <a id="searchlink" target="blank" href="{{crop.wikipedia_url}}">Wikipedia</a>
            {%endif%}
        </span>
        <br>
        
        {%endfor%}
    </div>
</div>
{%else%}
    <center><logo>CANNOT PREDICT THE RESULT</logo></center>
{%endif%}

{%endblock%}

