@font-face {
    font-family: Ananda Neptouch 2;
    src: url("Ananda Neptouch 2.f2290c98f910.ttf");
  }

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

nav{
  display:inline;
  justify-content: space-between;
  margin:0 40vw 0 10vw;
}

nav a {
  display:block;
  color:black;
  margin:0 20vw;
}

logo {
  color: rgb(255, 41, 4);
  font-family: "Ananda Neptouch 2";
  display:block;
  margin:0.25cm auto;
  font-size: 30px;
}

logo::first-letter{
  color:rgb(101, 101, 231);
  font-size: 50px;
}

logo[id="member-name"]{
  font-size:20px;
}

logo[id="member-name"]::first-letter{
  color:rgb(101, 101, 231);
  font-size: 30px;
}

.name{
  background-color: red;
  color: yellow;
  width:200vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.514),rgba(0, 0, 0, 0.616)),url("1.ab714f9f95b8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
}

.nameee h2{
  font-family: Ananda Neptouch 2;
}

.nameee{
  position: relative;
  z-index: 5;
  display: block;
  width: 30vw;
  max-width: 30vw;
  height: auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color:rgb(139, 139, 255);
  background-color: rgba(0, 0, 0, 0.267);
  border-radius: 5px;
}

.name-text h1{
  padding: 0 8%;
  font-family: merienda;
}

a{
  display: inline-block;
  padding: 10px 50px;
  border: 2px solid #fff;
  width: 50%;
  font-size: 16px;
  text-decoration: none;
  color: #fff ;
  margin-top: 15px;
}

form{
  width:100vw;
  background-color: white;
  max-width: 100%;
  height:auto;
  display:flex;
  justify-content:center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

form fieldset{
  padding:3vh;
  margin:3vw;
  max-width: 60vw;
  width:58vw;
  margin-top: -3cm;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

form fieldset legend{
  color:black;
}

fieldset input[type="text"],fieldset input[type="date"],select{
  color:black;
  width:80%;
  height:5vh;
  margin:10px 1cm;
  border-radius: 4px;
  padding-left:20px;  
}

fieldset input[type="date"]{
  letter-spacing: 5px;
}

fieldset input[type="text"]{
  border:0;
  color:black;
  border-bottom: 1px solid black;
  padding-left:10px;
  outline:0;
  border-radius: 0;

}

input[type=submit] {
  width: 10%;
  margin:10px auto;
  padding:8px 4px;
  display:block;
  background-color: rgb(245, 255, 245);
  color: black;
  border: 2px solid #45a049;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  color:white;
  background-color: #45a049;
}


/* process.html starts from here */
.main-contain{
  width:50%;
  display:block;
  margin:auto;
}

.request-contain{
  background-color: rgb(255, 255, 255);
  padding:0.5cm 2cm;
  color:white;
  display:block;
  min-height: 15vh;
}

.searchresults{
  width:80%;
  margin:auto;
  display: block;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color:black;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#searchlink{
  color:rgb(96, 96, 204);
  font-size:12px;
  margin:0;
}

.searchbody{
  text-align:justify;
}

.searchbody::first-letter{
  margin-left:1cm;
}

.searchlink:hover{
  text-decoration: underline;
}

.smallspan{
  color:rgb(248, 214, 214);
  background-color: rgb(73, 60, 60);
  padding:0.1cm 0.2cm;
  border-radius: 4px;
  font-size:11px;
  text-align:center;
  margin-left:1rem;
}

.linkcollection{
  display:flex;
  display:flex;
  align-items: center;
  justify-content: center;
  
}